/bootstrap/compiled.php
.env.*.php
.env.php
/node_modules
/public
/storage/*.key
/storage/debugbar
/vendor
/temp
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.DS_Store
.idea/

updates/
composer.lock
*.lock
resources/lang/en.json
updates.zip
ecommerce.zip
*.zip
*.nb3
